html, body {
	color: white;
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: Verdanda, Geneva, sans-serif;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 250%;
	margin: 0;
}

p {
	font-size: 115%;
}

.column {
	float: left;
}

.row:after {
	content: "";
    display: table;
    clear: both;
}

.page {
	padding-top: 2em;
	padding-bottom: 1em;
	padding-left: 20%;
	padding-right: 20%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.title {
	background-color: rgba(14, 129, 158, 1);
}

.about {
	background-color: rgba(104, 159, 246, 1);
}

.experience {
	background-color: rgba(255, 181, 50, 1);
}

.projects {
	background-color: rgba(255, 133, 50, 1);
}

.contact {
	background-color: rgba(130, 130, 130, 1);
}

.card {
	border: 2px solid white;
	background-color: rgb(50, 125, 145);
	height: 100%;
  	overflow: hidden;
  	position: relative;
  	cursor: pointer;
}

.card:hover {
	opacity: 0.8;
}

.cardImage {
	vertical-align: middle;
	display: block;
	position: relative;
	object-fit: cover;
	overflow:hidden;
	width: 100%;
}

.cardText {
	font-size: 250%;
	font-stretch: semi-condensed;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	position: relative;
	padding: 10%;
}

@keyframes expandContainer {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

#detailedCardContainer {
	display: none;
	animation-name: expandContainer;
	animation-duration: 1s;
	animation-iteration-count: 1;
	z-index: -1;
}

#detailedCardImage {
	max-width: 100%;
	cursor: pointer;
}

.myCarousel {
	position: relative;
	background-color: black;
}

.headerSlideShowTag {
	left: 20%;
	bottom: 5%;
	position: absolute;
	z-index: 2;
	padding: 1em;
	font-style: italic;
	color: white;
}

.fade {
	animation-name: fadeInOut;
	animation-duration: 10s;
}

@keyframes fadeInOut {
	0% { opacity: 0; }
	25% { opacity: 1; }
	75% { opacity: 1; }
	100% { opacity: 0; }
}

.headerSlideshow {
	width: 100%;
	height: 30em;
	display: block;
	position: relative;
	object-fit: cover;
	overflow-y: hidden;
}

.bulletPoints {
	list-style-type: disc;
	padding-left: 0;
}