html, body {
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: Verdanda, Geneva, sans-serif;
}

h1 {
	font-size: 250%;
}

.column {
	float: left;
	width: 50%;
}

.row:after {
	content: "";
    display: table;
    clear: both;
}

.image1 {
	background-image: url("eileenDonan.JPG");
}

.image2 {
	background-image: url("skyeSunRise.JPG");
}

.background {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.firstPageContent {
	position: relative;
   	top: 67%; 
   	left: 10%; 
   	width: 100%;
}

.secondPageContent {
	position: relative;
	top: 25%;
	left: 10%;
	width: 100%;
}

.customBorder {
	padding: 20px 20px 20px 20px;
	background-color: rgba(0, 0, 0, 0.5);
}

