html {
	/*Pad the sides of the site left and right*/
	padding: 0% 15% 0% 15%;
}

body {
	border: 5px solid powderblue;
	padding: 10px;
}

h1 {
	font-size: 250%;
}

.justinPic {
}

.justinPic img {
	height: 300px;
	border-radius: 5%;
	border: 2px solid;
}



