html, body {
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: Verdanda, Geneva, sans-serif;
}

h1 {
	font-size: 250%;
}

.column {
	float: left;
	width: 40%;
}

.row:after {
	content: "";
    display: table;
    clear: both;
}

.image1 {
	background-image: url("eileenDonan.JPG");
}

.image2 {
	background-image: url("skyeSunRise.JPG");
}

.background {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

@keyframes loadContent {
	0% { left: 100%; }
	100% { left: 10%; }
}

.firstPageContent {
	position: relative;
   	top: 67%; 
   	left: 10%; 
   	width: 100%;
   	animation-name: loadContent;
   	animation-duration: 1s;
}

.secondPageContent {
	position: relative;
	top: 15%;
	left: 10%;
	width: 100%;
}

.customBorder {
	padding: 20px 20px 20px 20px;
	background-color: rgba(0, 0, 0, 0);
}

@keyframes downArrowAnimation {
	0% { top: 73%; }
	80% { top: 75%; }
	100% {  top: 73%; }
}

.downArrowContainer {
	position: relative;
	top: 73%;
	width: 50%;
	animation-name: downArrowAnimation;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
}

.downArrow {
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	border-top: 35px solid rgba(255, 255, 255, 0.5);
}

.downArrow:hover {
	border-top: 35px solid rgba(255, 255, 255, 0.7);
}

.center {
	margin: auto;
}

.underline {
	border-bottom: solid 2px white;
}

